@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

body {
  background-color: blanchedalmond;
}

.borderBox {
  background-color: whitesmoke;
  border: solid 3px black;
  padding: 5% 0 10% 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 3%;
}

.titleItems {
  align-self: center;
  text-align: center;
}

.gametitle {
  text-align: center;
  font-family: "Luckiest Guy";
  font-size: 35px;
}

.titleCode {
  font-family: "Overpass Mono", monospace;
  font-size: large;
  font-style: italic;
}

#beginGameb {
  font-weight: bold;
  padding: 10px 10px 10px 10px;
  margin: 5px 0 20px 0;
}

.gamebox {
  border: solid 2px black;
  padding: 10px 10px 10px 10px;
  background-color: black;
  color: whitesmoke;
  align-self: center;
}
@media screen and (min-width:500px){
  .gamebox{
    width: 500px;
    height: 500px;
  }
  .borderBox {
    width: 900px;
    height: 600px;
  }
  footer, #tagline{
    width: 900px;
  }
}

.gameContent {
  font-family: "Overpass Mono", monospace;
  font-size: medium;
  max-width: 26em;
}

img {
  width: 8em;
}

#fishy {
  font-size: small;
  align-self: center;
  max-width: fit-content;
}

.gameControls {
  text-align: center;
  margin: 15px;
}

#tagline {
  color: black;
  font-family: "Overpass Mono", monospace;
  text-align: center;
  margin: 2em 0 2em 0;
  font-weight: bolder;
}

footer {
  font-family: "Overpass Mono", monospace;
  background-color: #000000;
  color: whitesmoke;
  padding: 10px 20px 10px 20px;
  font-weight: bold;
  text-align: center;
}

.author {
  font-style: italic;
}

#choice1,
#choice2 {
  visibility: hidden;
}
